/* About History new setting css */
#news__row {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

#news__col {
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}

#news__col img {
    width: 600px;
    height: 500px;
    border-radius: 6px;
    float: left;
    margin: 40px;
    margin-top: 5px;
}

#news__col #img img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 8px;
}

/* Kasco__in new setting css */
#for-ind-info {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

#for-ind-info__left,
#for-ind-info__right {
    max-width: 600px;
    width: 100%;
}

.for-ind-info__left-title,
.for-ind-info__right-title {
    color: #0B4848;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.for-ind-info__right-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: inside;
}

.for-ind-info__right-list li {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    list-style: inside;
}

.for-ind-info__right-list li::marker {
    color: #0B4848;
    font-size: 23px;
}

@media (max-width:1010px) {
    #for-ind-info {
        flex-direction: column;
    }

    #for-ind-info__left,
    #for-ind-info__right {
        max-width: 90%;
    }
}

@media (max-width:930px) {
    #news__col {
        gap: 25px;
    }

    #news__col #img {
        width: 350px;
    }
}

@media (max-width:862px) {
    #news__col {
        flex-direction: column;
    }
}

@media (max-width:550px) {

    .for-ind-info__left-title,
    .for-ind-info__right-title {
        font-size: 26px;
        margin-bottom: 20px;
    }
    #for-ind-info__left,
    #for-ind-info__right {
        max-width: 100%;
    }
    .for-ind-info__right-list {
        gap: 10px;
    }

    .for-ind-info__right-list li {
        font-size: 12px;
    }

}

@media (max-width:400px) {
    #news__col #img {
        width: 100%;
    }
}
